<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration

        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
    <typeAliases>
        <package name="com.yy.pojo"/>
    </typeAliases>


    <!--    绑定接口-->
   <mappers>
       <mapper class="com.yy.dao.AdminMapper"/>
       <mapper class="com.yy.dao.GuestsMapper"/>
       <mapper class="com.yy.dao.HomeMapper"/>
       <mapper class="com.yy.dao.VipMapper"/>
   </mappers>
</configuration>